
header {
    background-color: #69bd45;
    text-align: center;
    padding: 0%;
}
img{
    display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
    margin: 0 auto; /* Centrar las imágenes horizontalmente */
    max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
    border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
    border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
    width: 200px;
    height: 200px;
 }   

 body {
    background-color: #e2ffc8;
   /* font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    height: 100vh;
}

 nav ul{
    background-color:#4caf50;
    list-style: none;
    margin: 0%;
    padding: 1%;
    text-align: center;
 }

 nav ul li{
    display: inline-block;
    margin-right: 30px;

 }
 nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
 }

nav ul li a:hover {
    background-color: #2f8247;
}

p{
    font-style: italic;
    font-weight: bold;
    color: #5f37a3
}
.div1{
    text-align: center;
   
} 
.img2{
    width: 600px;
    height: 350px;
    object-fit: cover;
    margin: 30px auto;
    display: block;
 
}

footer {
    background-color:  #4caf50;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer-icon {
    width: 24px;  /* Ajusta el tamaño de las imágenes */
    height: 24px; /* Ajusta el tamaño de las imágenes */
    transition: transform 0.3s;
  }
  
  .footer-icon:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el ratón */
  }
